@import "tailwindcss";

@theme {
  --font-sensient: var(--font-sensient), serif;
  --font-satoshi: var(--font-satoshi), sans-serif;

  /* Animações Customizadas */
  --animate-fade-in-up: fade-in-up 0.8s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  --animate-fade-in: fade-in 0.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;

  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@layer base {
  :root {
    background-color: #FAFAFA; /* neutral-50 */
  }
}