@import "tailwindcss";

@theme {
  --font-sensient: var(--font-sensient), serif;
  --font-satoshi: var(--font-satoshi), sans-serif;
}

@layer base {
  :root {
    background-color: #FAFAFA; /* neutral-50 */
  }
}